.header_right{
    display: flex;
    flex-direction: row;
}
.space_between_header_right{
    margin-right: 15px;
}
.icons{
    /* margin-right: 18px; */
    border: 1px solid rgb(126, 119, 119); 
    height: 22px;
    border-radius: 14px;
    margin-top: 5px;
    margin-left: 15px;
    padding: 3px;
}
.message{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.text{
    font-weight: bold;
}
.border{
    /* position: 'relative'; */
    display:'flex';
    width: 100px;
    justify-content:'center';
    margin-left: 50%;
    background-color: rgb(206, 204, 204);
    border-radius: 10px;
    padding: 5px;
}
.border1{
    margin-top: -14px;
	border-bottom: 1px solid rgb(206, 204, 204);
	width: 650px;
    /* border-bottom-color: #787878; */
    margin-left: 20px;
}
.border2{
    margin-top: -20px;
	border-bottom: 1px solid rgb(206, 204, 204);
	width: 650px;
    margin-left: 20px;
}
.message_icon{
    margin-right: 6px;
    color: rgb(161, 159, 159);
}
.message_icon_right{
    margin-right: 6px;
    margin-bottom: 6px;
    color: rgb(161, 159, 159);
}