.container{
    height: 100%;
}
.grid{
    background-color: lightgray;
    height: 200px;
    padding: 15px;
    margin-top: 40px;
}
.grid1_card1{
    display: flex;
    justify-content: space-between;
}
.card11{
    margin-top: 10px;
    width: 550px;
    padding: 10px;
    border-radius: 0px;
}
.loprem{
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(228, 226, 226);
    color: rgb(185, 184, 184);
}
.add_tag{
    margin-left: 10px;
}
.delete_icon{
    position: relative;
    top: 5px;
}
.publish_icon{
    position: relative;
    margin-left: 55%;
}
.add_icons{
    position: relative;
    margin-left: 10px;
    top: 20px;
}
/* .heading{
    margin-left: 20px;
    margin-top: 50px;
}
.container{
    height: 100%;
}
.box{
    background-color: lightgray;
    height: 200px;
    padding: 15px;
    margin-top: 40px;
}
.loprem{
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(228, 226, 226);
    color: rgb(185, 184, 184);
}
.delete_icon{
    position: relative;
    top: 5px;
}
.publish_icon{
    position: relative;
    margin-left: 48%;
}
/* .upload{
    display: flex;
} */